{% extends 'base.html' %}
{% block title %}
  <title> Update </title>
{% endblock title %}

{% block body %}

<!-- Form to update a Todo item -->
<form action="/update/{{todo.sno}}" method="POST">
    <div class="mb-3">
        <h1>Update your Todo</h1>
        <!-- Title input field -->
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" value="{{todo.title}}">
    </div>
    <div class="mb-3">
        <!-- Description input field -->
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="text" class="form-control" id="desc" name="desc" value="{{todo.desc}}">
    </div>
    <div class="mb-3,form-check form-switch">
        <!-- Checkbox to mark the task as complete -->
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="flexSwitchCheckChecked"
        {% if todo.status=='on' %}
            checked            
        {% endif %} >
        <label class="form-check-label" for="flexSwitchCheckChecked">Check this box to mark it as complete</label>
      </div>
      <br>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock%}
